<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{AUTHOR}}">
    <meta name="description" content="{{SITE_DESCRIPTION}}">
    <title>{{TITLE}} - {{SITE_TITLE}}</title>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/blog/feed.xml">
</head>
<body>
  <header>
    <nav>
        <table>
            <tr>
                <td class="logo">
                  <strong><a href="/">
<pre>
███████╗
██╔════╝
██║     
██║     
╚██████╗
 ╚═════╝</pre>
                  <a></strong>
                </td>
                <td class="links">
                    {{NAV}}
                </td>
            </tr>
        </table>
    </nav>
  </header>
  <hr>
<main class="container">
  <article>
    <header class="post-meta">
      <h1>{{TITLE}}</h1>
      {{META_LINE}}
    </header>
    {{CONTENT}}
  </article>
</main>
